@model IEnumerable<Shop.Application.Cart.GetCart.Response>

@{

}
<div>
    <p class="title">Big Cart</p>
    @foreach (var product in Model)
    {

                <div>
                    <p class="title">@product.Name</p>
                    <p class="subtitle">Qty: @product.Qty</p>
                    <p class="subtitle">Size: @product.StockId</p>
                    <p class="subtitle">Price: @product.Value</p>
                </div>


    }

</div>