<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop.UI</title>

    <environment include="Development">
        <link href="~/lib/bulma-0.9.0/css/bulma.css" rel="stylesheet" />
    </environment>
    <environment include="Production">
        <link href="~/lib/bulma-0.9.0/css/bulma.min.css" rel="stylesheet" />
    </environment>


    

</head>
<body>
    <h3 class="title has-text-centered">Admin Panel</h3>
    <a asp-page="/Index">Home</a>

    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="menu">
                    <p class="menu-label">Admin Menu</p>
                    <ul class="menu-list">
                        <li><a asp-page="/Admin/Index">Products</a></li>
                        <li><a asp-page="/Admin/Orders">Orders</a></li>
                        <li><a asp-page="/Admin/Stock">Stock</a></li>
                    </ul>

                    <p class="menu-label"></p>
                    <ul class="menu-list">
                        <li><a asp-page="/Index">Back to Main</a></li>
                    </ul>
                </div>
            </div>
            <div class="column is-9">
                @RenderBody()
            </div>
        </div>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Shop.UI - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
